//Table Styling 

.table {
    .table__row-item {
        &--active,
        &--complete {
            color: #27AE60
        }
        &--assigned,
        &--in-progress {
            color: #F39C12
        }
        &--inactive,
        &--failed {
            color: #8C1717
        }
        &--waiting {
            color: #abd7eb
        }      
    }
}